@import url("https://unpkg.com/misans-webfont@latest/misans-style.min.css");
@import url("https://unpkg.com/jetbrains-mono-webfont@latest/jetbrains-mono.css");

:root {
  --vp-font-family-base: "Misans Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --vp-font-family-mono: "JetBrains Mono", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

strong {
  font-family: "Misans Semibold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
}